/* src/Css/Body.css */
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 80vh;
    background-color: #dbcbc1;
    /* Light background */
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f2eae5;
    /* White background for the card */
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    /* Softer shadow */
    padding: 40px;
    max-width: 900px;
    width: 100%;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.profile-card:hover {
    transform: translateY(-10px);
    /* Lift effect on hover */
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
    border: 4px solid #333;
    /* Border around the image */
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-info .description {
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    /* Better readability */
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Space between buttons */
}

.custom-button {
    background-color: #333 !important;
    /* Primary color */
    color: #fff !important;
    padding: 10px 20px;
    text-transform: none;
    /* Disable uppercase transformation */
    transition: background-color 0.3s, transform 0.3s;
    /* Smooth transitions */
}

.custom-button:hover {
    background-color: #1a1919 !important;
    /* Darker shade on hover */
    transform: translateY(-2px);
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
    /* Slight lift effect */
}

.custom-link {
    text-decoration: none;
    /* Remove underline */
}

@media (max-width: 768px) {
    .profile-card {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        /* Space between buttons in column layout */
    }
}