.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-brown);
  margin: 20px 0 20px;
  gap: 8px;
}

.contact-header p {
  font-size: 1.5rem;
}

.contact-header svg {
  font-size: 1.8rem;
  color: var(--dark-brown);
}

@media (max-width: 768px) {
  .contact-header {
    font-size: 1.2rem;
    margin: 30px 0 15px;
  }

  .contact-header svg {
    font-size: 1.5rem;
  }

  .contact-header p {
    font-size: 1.2rem;
  }
}