.contact-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-brown);
  margin-bottom: 20px;
}

.contact-header p {
  margin-left: 10px;
  font-size: 1.5rem;
}

.contact-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .contact-header {
    font-size: 1.2rem;
    margin: 30px 0 15px;
  }

  .contact-header svg {
    font-size: 1.5rem;
  }

  .contact-header p {
    font-size: 1.2rem;
  }
}