.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.footer-left p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items center for a neater look */
}

.footer-right a {
    margin: 0 15px;
    /* Increased margin for better spacing */
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-right a:hover {
    color: #007bff;
    /* Change hover color */
}

@media (max-width: 768px) {
    .footer-right {
        margin-top: 10px;
    }

    .footer-right a {
        margin: 5px 0;
    }
}