/* src/components/Header.css */
:root {
    --dark-brown: #333;
    --medium-brown: #C49E85;
    --light-brown: #f2eae5;
    --white: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-brown);
    position: relative;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
    color: var(--white);
}

.header-left p {
    margin: 0;
    font-size: 14px;
    color: var(--white);
}

.header-right a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--white);
}

.header-right a:hover {
    color: var(--medium-brown);
    /* text-decoration: underline; */
}

.toblack {
    color: var(--medium-brown) !important;
}

@media (max-width: 768px) {
    /* .header {
        flex-direction: column;
        align-items: flex-start;
    } */

    .header-right {
        margin-top: 10px;

    }

    .header-right a {
        display: block;
        margin: 5px 0;
    }

    .header-left h1 {
        margin: 0;
        font-size: 20px;
    }

    .header-left p {
        margin: 0;
        font-size: 11px;
    }

}


.dropdown {
    position: relative;
}

.dropdown button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #282c34;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    z-index: 1000;
    box-sizing: border-box
}

.dropdown-menu a {
    margin: 0.5rem 0;
    color: white;
    text-decoration: none;
}

.dropdown-menu a.toblack {
    color: black;
}