.projects-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--light-brown);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-page h2 {
    text-align: center;
    color: var(--dark-brown);
    margin-bottom: 20px;
    font-weight: 900;
}

.project-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-top: 0;
    font-weight: 900;
}

.project-card ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 15px;
    /* Increased space between heading and points */
}

.project-card li {
    margin-bottom: 10px;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    color: var(--dark-brown);
    text-decoration: none;
    font-weight: 900;
}

.github-link:hover {
    color: #1a1919 !important;
}

@media (max-width: 768px) {
    .projects-page {
        margin: 10px;
        padding: 10px;
    }

    .project-card {
        padding: 15px;
    }
}

.project-links {
    margin-top: 10px;
}

.project-links a {
    display: inline-block;
    margin-right: 15px;
    /* Space between the links */
    color: var(--dark-brown);
    text-decoration: none;
    /* Remove default underline */
    font-weight: 900;
    /* Increased font weight */
    border-bottom: 1px solid transparent;
    /* Initial border */
    transition: border-bottom 0.3s, color 0.3s;
    /* Smooth transition for effects */
}

.project-links a:hover {
    color: #1a1919 !important;
    /* Change color on hover */
    border-bottom: 1px solid var(--dark-brown);
    /* Add underline effect on hover */
}