:root {
    --light-brown: #f2eae5;
    --dark-brown: #333;
    --white: #fff;
}

.resume-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--light-brown);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-page h2 {
    text-align: center;
    color: var(--dark-brown);
    margin-bottom: 20px;
    /* Added margin for spacing */
}

.resume-section {
    margin-bottom: 15px;
    /* Reduced margin for compactness */
}

.resume-section h3 {
    margin-bottom: 10px;
    color: var(--dark-brown);
    border-bottom: 2px solid var(--dark-brown);
    padding-bottom: 5px;
}

.resume-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* Adjusted gap for a tighter layout */
}

.card {
    background-color: var(--white);
    padding: 15px;
    /* Reduced padding */
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 30px);
    /* Adjusted for two cards per row */
    min-width: 200px;
    max-width: 280px;
    /* Slightly narrower max-width */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    /* Slightly reduced hover effect */
}

.job-title {
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
    /* Slightly smaller for compactness */
    color: var(--dark-brown);
}

.company-name {
    margin: 3px 0;
    font-weight: normal;
    font-size: 0.95rem;
    /* Slightly smaller size */
    color: #555;
}

.employment-dates {
    margin: 3px 0;
    font-size: 0.9rem;
    /* Smaller size for a cleaner look */
    color: #777;
    /* Gray color */
}

.employment-duration {
    margin: 0;
    font-size: 0.85rem;
    /* Even smaller size */
    color: #888;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Reduced gap */
}

.skill-chip {
    background-color: var(--dark-brown);
    color: var(--white);
    padding: 8px 12px;
    /* Reduced padding */
    border-radius: 20px;
    font-size: 12px;
    /* Smaller font size */
    transition: background-color 0.3s, transform 0.3s;
    cursor: default;
}

.skill-chip:hover {
    background-color: #1a1919;
}

.download-button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--dark-brown);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #1a1919;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .resume-page {
        margin: 10px;
        padding: 10px;
    }

    .resume-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: none;
    }

    .download-button {
        width: 100%;
    }

    .skills-grid {
        justify-content: center;
    }
}